In [ ]:
## here i will generate the input for bypass from the vcf file generates by slim

In [106]:
import numpy as np
import pandas as pd
import seaborn as sns
import scipy.stats as stats
import math 
import os

import allel
import subprocess

In [107]:
allele_counts_slim_full_cov = pd.read_csv('allele_counts_slim_full_cov.csv').set_index('Unnamed: 0')

In [108]:
allele_counts_slim_full_cov

,ref_subp0,alt_subp0,ref_subp1,alt_subp1,ref_subp2,alt_subp2,ref_subp3,alt_subp3,ref_subp4,alt_subp4,...,ref_subp11,alt_subp11,ref_subp12,alt_subp12,ref_subp13,alt_subp13,ref_subp14,alt_subp14,ref_subp15,alt_subp15
Unnamed: 0,,,,,,,,,,,,,,,,,,,,,
6063,162,838,134,866,141,859,119,881,239,293,...,117,883,68,932,146,854,23,883,283,717
13538,520,480,462,538,318,682,528,472,259,273,...,430,570,92,908,485,515,245,661,662,338
19532,208,792,260,740,157,843,132,868,239,293,...,177,823,68,932,276,724,123,783,438,562
19931,975,25,840,160,911,89,906,94,2770,0,...,838,162,689,311,866,134,894,12,945,55
23006,974,26,825,175,881,119,972,28,2770,0,...,999,1,876,124,936,64,3499,0,882,118
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
28167692,4972,0,5335,0,5422,0,5458,0,2770,0,...,5749,0,4788,0,5034,0,3499,0,982,18
30057156,4972,0,5335,0,5422,0,5458,0,2770,0,...,5749,0,4788,0,5034,0,3499,0,982,18
30065201,4972,0,5335,0,5422,0,5458,0,2770,0,...,5749,0,4788,0,5034,0,3499,0,982,18
30325819,4972,0,5335,0,5422,0,5458,0,2770,0,...,5749,0,4788,0,5034,0,3499,0,982,18
30394571,4972,0,5335,0,5422,0,5458,0,2770,0,...,5749,0,4788,0,5034,0,3499,0,982,18

In [100]:
## no need to make changes in the data but need to change the sep and no header and no index 
allele_counts_slim_full_cov.to_csv('baypass/geno_table_slim', header=None, sep = ' ', index=False)

In [94]:
# double the pool size because it is asking for number of chromosomes 
pool_size = pool_size * 2

In [96]:
pd.DataFrame(pool_size).T.to_csv('baypass/pool_size_slim', header=None, sep = ' ', index=False)