In [ ]:
## recreating allele freq

In [ ]:
## shoul i cehck if i can get certain metrics from trees?

In [1]:
# once i have wholegenome_offset.trees
import pandas as pd
import tskit
import allel
import random
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import tsinfer
import pyslim
import os
from collections import defaultdict

In [2]:
## calculate allele freq

In [ ]:
output_vcf_fixpos = snakemake.input['output_vcf_fixpos'] 
pos_vcf_og = snakemake.input['pos_vcf_og'] 
output_allele_freq = snakemake.output['allele_freq']

In [3]:
file_names = [
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima0/subp0_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima0/subp1_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima0/subp2_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima0/subp3_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima0/subp4_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima1/subp0_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima1/subp1_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima1/subp2_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima1/subp3_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima1/subp4_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima2/subp0_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima2/subp1_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima2/subp2_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima2/subp3_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima2/subp4_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima3/subp0_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima3/subp1_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima3/subp2_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima3/subp3_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima3/subp4_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima4/subp0_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima4/subp1_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima4/subp2_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima4/subp3_vcf_output_rp.vcf",
    "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima4/subp4_vcf_output_rp.vcf"
]

In [5]:
path = '/home/tbellagio/scratch/slim_grenenet/'

In [20]:
file = "results/arq_mediumfreq_onehpoly_highbeta/strongsel/optima0/subp0_vcf_output_rp.vcf"

In [21]:
path_complete = path+file

In [22]:
if os.path.exists(path_complete) and os.path.getsize(path_complete) <= 1:
    print('empty_vcf')

elif os.path.exists(path_complete) and os.path.getsize(path_complete) > 1:
    print('stg')

empty_vcf

In [13]:
vcf = allel.read_vcf('../treeseq/greneNet_final_v1.1.recode.vcf.gz', fields= 'variants/POS')
pos_vcf_og = pd.DataFrame(data = {'pos':vcf['variants/POS'] })
pos_vcf_og.to_csv(path + 'data/pos_vcf_og.csv', index=None)

In [15]:
pos_vcf_og = pd.read_csv(pos_vcf_og)

In [16]:
pos_vcf_og[name] = np.nan

NameError: name 'name' is not defined

In [76]:
def extract_allele_freq(samples, geno_array, pos, name):
    total_alleles = len(samples) * 2 
    alt_freq = geno_array.sum(axis=2).sum(axis=1) / total_alleles
    alt_allele_freq = pd.DataFrame(data = {'pos': pos, name: alt_freq})
    return alt_allele_freq

In [88]:
for i in output_vcf_fixpos:
    print(i)
    name = i.split('/')[-2] + '_' + i.split('/')[-1][0:5]
    if os.path.exists(i) and os.path.getsize(i) <= 1:
        print('empty_vcf')
        pos_vcf_og[name] = np.nan
    elif os.path.exists(i) and os.path.getsize(i) > 1:
        vcf = allel.read_vcf(i)
        samples = vcf['samples']
        geno_array = vcf['calldata/GT']
        pos = vcf['variants/POS']
        alt_allele_freq = extract_allele_freq(samples,geno_array, pos, name)
        pos_vcf_og = pos_vcf_og.merge(alt_allele_freq, on ='pos', how='outer')
pos_vcf_og.to_csv(output_allele_freq)

,pos,result_selection_var1.3031_optima2.5131.vcfoutput_selection_x,result_selection_var1.3031_optima2.5131.vcfoutput_selection_y
0,291,0.038265,NaN
1,346,0.214286,0.145570
2,349,0.007653,NaN
3,352,NaN,0.025316
4,353,0.056122,0.107595
...,...,...,...
3235475,119146054,NaN,0.006329
3235476,119146061,NaN,NaN
3235477,119146113,NaN,NaN
3235478,119146118,0.165816,0.322785
3235479,119146134,0.178571,0.265823

In [ ]:
import glob
import pandas as pd
import os
import tskit



path = '/home/tbellagio/scratch/slim_grenenet/'


# Use the glob module to search for files in subfolders
pattern = os.path.join(path, '**', '*_tree_output.trees')
trees = glob.glob(pattern, recursive=True)



pop_size = dict()
for i in trees:
    print(i)
    if os.path.getsize(i) > 1:
        tree = tskit.load(i)
        pop_s = len(tree.tables.individuals)
        pop_size[i] = pop_s
    else:
        pop_size[i] = 0

pd.DataFrame([pop_size]).T.to_csv('pop_sizes.csv')

In [4]:
pop_size = pd.read_csv('pop_sizes.csv')

In [7]:
pop_size[pop_size['0']==0]

                                             Unnamed: 0  0
10    /home/tbellagio/scratch/slim_grenenet/results/...  0
11    /home/tbellagio/scratch/slim_grenenet/results/...  0
12    /home/tbellagio/scratch/slim_grenenet/results/...  0
13    /home/tbellagio/scratch/slim_grenenet/results/...  0
14    /home/tbellagio/scratch/slim_grenenet/results/...  0
...                                                 ... ..
1785  /home/tbellagio/scratch/slim_grenenet/results/...  0
1786  /home/tbellagio/scratch/slim_grenenet/results/...  0
1787  /home/tbellagio/scratch/slim_grenenet/results/...  0
1788  /home/tbellagio/scratch/slim_grenenet/results/...  0
1789  /home/tbellagio/scratch/slim_grenenet/results/...  0

[1393 rows x 2 columns]

In [8]:
# Use the glob module to search for files in subfolders
pattern = os.path.join(path, '**', 'allele_freq.csv')
allele_freq = glob.glob(pattern, recursive=True)

In [9]:
len(allele_freq)

48

In [ ]:
pop_size.to_csv('pop_sizes.csv')

In [ ]:
for i in allele_freq_files:
    print(i)
    print(os.path.getsize(i))

In [50]:
allele_freq = pd.read_csv('/home/tbellagio/scratch/slim_grenenet/results/arq_lowfreq_monogen_highbeta/strongsel/allele_freq.csv')

In [51]:
allele_freq

,Unnamed: 0,pos,optima0_subp0,optima0_subp1,optima0_subp2,optima0_subp3,optima0_subp4,optima1_subp0,optima1_subp1,optima1_subp2,...,optima3_subp0,optima3_subp1,optima3_subp2,optima3_subp3,optima3_subp4,optima4_subp0,optima4_subp1,optima4_subp2,optima4_subp3,optima4_subp4
0,0,291,0.029444,0.024444,0.037222,0.017778,0.025556,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,346,0.272778,0.211667,0.246111,0.302222,0.305000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,349,0.005000,0.012222,0.007222,0.003889,0.014444,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,352,0.034444,0.026111,0.021667,0.020556,0.046667,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,353,0.050556,0.082222,0.094444,0.080000,0.077778,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
208039,208039,1029211,0.231667,0.205000,0.207778,0.261667,0.200000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208040,208040,1029232,0.032222,0.033333,0.060556,0.026667,0.035000,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208041,208041,1029405,0.016667,0.015556,0.009444,0.010000,0.013333,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208042,208042,1029448,0.015000,0.009444,0.010556,0.024444,0.017222,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
208043,208043,1029465,0.489444,0.518333,0.537778,0.533333,0.516667,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# Use the glob module to search for files in subfolders
pattern = os.path.join(path, '**', '*_vcf_output_rp.vcf')
vcfs = glob.glob(pattern, recursive=True)

In [15]:
sizes_vcfs = []
for i in vcfs:
    sizes_vcfs.append(os.path.getsize(i))

In [17]:
pd.Series(sizes_vcfs).value_counts()

0              1393
11056845485       1
11389121373       1
11197713565       1
11155652884       1
               ...
10796901595       1
10792573363       1
10984333266       1
10832239582       1
11223506507       1
Name: count, Length: 408, dtype: int64